.github-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: rgba(0, 0, 0, 0.5);
  background-color: rgba(94, 59, 238, 0.8);
  border-width: 1px;
  border-radius: 0.375rem;
  padding: 0.2rem 0.4rem;
  width: 40px;
  height: 30px;
  transition: background-color 0.3s;
}

.github-btn:hover {
  background-color: rgba(94, 59, 238, 0.8);
}

.gmail-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: rgba(0, 0, 0, 0.5);
  background-color: rgba(94, 59, 238, 0.8);
  border-width: 1px;
  border-radius: 0.375rem;
  padding: 0.2rem 0.4rem;
  width: 40px;
  height: 30px;
  transition: background-color 0.3s;
}

.gmail-btn {
  background-color: rgba(94, 59, 238, 0.8);
}
